// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles 
body,
html, 
.body {
  background: #f3f3f3 !important;
}

/* geek */

/*table th,
table td {
  border: 1px solid #ccc;
}*/

/* preheader classes */

.container.preheader {
  background: transparent;
}

div.grey-text p,
div.grey-text p a, {
  font-size: 11px !important;
  color: #777777 !important;
}

div.grey-text p a {
  border-bottom: 1px solid rgba(0,0,0,.16);
}

div.grey-text .invisible {
  font-size: inherit !important;
  color: inherit !important;
  visibility: none;
}
