<wrapper>
	
	<container>

		<spacer size="32"></spacer>

		<row>

			<!-- image -->

			<columns small="12" large="6">
				
				<row>
					<columns mc:edit="blog-article-image" mc:label="blog-article-image">
						<a href="http://www.jeromemerlot.com/" target="_blank"><img src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/ee86b5a0-6afa-4d15-b943-5b7e08e8ac3f.jpg"></a>
					</columns>
				</row>

			</columns>

			<columns small="12" large="6">

				<row>
					<columns mc:edit="blog-article-text" mc:label="blog-article-text">	
						
						<div><h5><strong>A Colorful Tribute to Vice in Miami</strong></h5></div>
						<div class="text-14"><p>While Miami has beach weather all year long, it’s still a tradition to celebrate the end of winter. Here’s a list of upcoming events that...</p>


						<button class="small small-expanded radius" href="http://www.jeromemerlot.com/" target="_blank">Read more</button>

					</columns>

				</row>

			</columns>

		</row>

	</container>

</wrapper>