<!-- footer-social 

<spacer size="24"></spacer>
<wrapper>
	<container class="postfooter">
		<row>
			<columns small="12">
				<div class="text-12"><p class="text-center small-text-center">Follow me on: <a class="facebook" href="#">facebook</a> <a class="instagram" href="#">instagram</a></p></div>
			</columns>
		</row>
	</container>
</wrapper>

<!-- /footer-social -->

<!-- <spacer size="16"></spacer> -->


<wrapper>
	<!-- <container class="postfooter"> -->
	<container>
		<spacer size="16"></spacer>

		<row>
			<columns valign="middle" small="2" large="3"></columns>
			<columns valign="middle" small="4" large="3">
				<p class="text-12 social text-right">follow me on:
			</columns>
			<columns small="2" large="1" mc:edit="footer-facebook-url" mc:label="footer-facebook-url">
				<a href="https://www.facebook.com/jeromemorlotrealtor/">
					<img src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/9c97244b-2976-4f21-9f57-7d10b694eb16.png" width="32" height="32">
				</a>
			</columns>
			<columns small="2" large="1" mc:edit="footer-instagram-url" mc:label="footer-instagram-url">
				<a href="https://www.instagram.com/jeromemorlot/">
					<img src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/a79978f7-2970-4075-9cd5-c168ef0d4918.png" width="32" height="32"></p>
				</a>
			</columns>
			<columns valign="middle" small="2" large="4"></columns>
		</row>
	</container>
</wrapper>

