<wrapper>

	<spacer size="24"></spacer>
	
	<container>

		<row>
			<columns small="12">
				<spacer size="24"></spacer>
				<h5 class="title small-text-center"><strong>PAGE LIST</strong></h5>
				<hr>
				<menu class="vertical">
					<item href="active-listing.html" target="_blank">ACTIVE LISTING</item>
					<item href="newsletter-blog.html" target="_blank">NEWSLETTER / BLOG</item>
					<item href="nurturing.html" target="_blank">NURTURING</item>
				</menu>
			</columns>
		</row>

	</container>

</wrapper>