<wrapper>
	
	<container>

		<row>


			<!-- # home value -->

			<columns small="12" large="4">
				
				<row>
					<columns>
						<a href="http://www.jeromemorlot.com/"><img class="float-center" src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/a63dc7ac-fbcf-47b5-b5a1-75b881106c09.png" mc:edit="home-image" mc:label="Home value image"></a>
					</columns>
				</row>

				<row>
					<columns mc:edit="home-text" mc:label="Home value text">
						
						<div class="text-14"><p class="text-center"><strong>HOME VALUE</strong></p></div>
						<div class="text-12"><p class="text-center">Find out how much your property is worth with Jerome Morlot free property valuation service.</p><p class="text-center">Get an instant estimate</p></div>
						
						<div class="text-12"><p class="text-center">> <a class="url" href="http://www.jeromemorlot.com/">Discover</a></p></div>

					</columns>

				</row>

			</columns>

			<!-- / home value -->

			<columns class="divider-v show-for-large"></columns>

			<!-- # home value -->

			<columns small="12" large="4">
				
				<row>
					<columns>
						<a href="http://www.homeinsight.com/Widget/default.asp?E4OAUVKN3PKH"><img class="float-center" src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/dec03f84-0463-4b06-9561-9abafeda14f5.png" mc:edit="market-image" mc:label="Market image"></a>
					</columns>
				</row>

				<row>
					<columns mc:edit="market" mc:label="Market text">
						
						<div class="text-14"><p class="text-center"><strong>MARKET SNAPSHOT</strong></p></div>
						<div class="text-12"><p class="text-center">Get update and trend analysis overview of Miami's real estate market</p></div>

						<div class="text-12"><p class="text-center">> <a class="url" href="http://www.homeinsight.com/Widget/default.asp?E4OAUVKN3PKH">Discover</a></p></div>

					</columns>

				</row>

			</columns>

			<!-- / home value -->

			<columns class="divider-v show-for-large" small="0" large="0"></columns>

			<!-- # home value -->

			<columns small="12" large="4">
				
				<row>
					<columns>
						<a href="http://www.jeromemorlot.com/featured-listings#global-exposure"><img class="float-center" src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/49d0e900-0456-4898-8704-606faccc53c7.png" mc:edit="strategy-image" mc:label="Strategy image"></a>
					</columns>
				</row>

				<row>
					<columns mc:edit="strategy" mc:label="Strategy text">
						
						<div class="text-14"><p class="text-center"><strong>WHAT DO WE NEED TO SELL YOUR PROPERTY?</strong></p></div>
						<div class="text-12"><p class="text-center">We create appealing collateral and develop marketing campaigns to engage with your audience</p></div>
						<div class="text-12"><p class="text-center">> <a class="url" href="http://www.jeromemorlot.com/featured-listings#global-exposure">Discover</a></p></div>

					</columns>

				</row>

			</columns>

			<!-- / home value -->


		</row>

		<spacer size="16"></spacer>

	</container>

</wrapper>