<wrapper class="collapse-bottom">
	
	<container class="inverse-bg-darker">

		<row class="collapse">

			<columns small="12" large="4">

				<spacer size="16"></spacer>

				<img src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/1ab2fb16-4f83-4a9d-931f-87bb074dcc35.png">

			</columns>

			<columns small="12" large="4" valign="top">

				<spacer size="16"></spacer>

				<div class="footer-text">
					<p><img class="float-center" src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/1f115780-9ab6-4bf5-8bf3-1be26093467f.png"></p>
					<spacer size="8"></spacer>
					<p class="small-text-center"><a href="tel:17865647790" target="_blank">1 786 564 77 90</a></p>
					<p class="small-text-center"><a href="mailto:jm@jeromemerlot.com" target="_blank">jm@jeromemerlot.com</a></p>
					<p class="small-text-center"><a href="http://www.jeromemerlot.com/" target="_blank">www.jeromemerlot.com</a></p>
				</div>

				<spacer size="8"></spacer>

			</columns>

			<columns small="12" large="4" valign="middle">

				<img src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/c5f4a5bb-2bcd-493c-bd49-78ce20e235a9.png">

			</columns>

		</row>

	</container>

</wrapper>

<wrapper>
	<container class="postfooter">

		<row>
			<columns>

				<spacer size="16"></spacer>

				<row>
					<columns small="12">
					<div class="text-12"><p class="text-right small-text-center">Follow me on: <a class="facebook" href="https://www.facebook.com/jeromemorlotrealtor/">facebook</a> <a class="instagram" href="https://www.instagram.com/jeromemorlot/">instagram</a></p></div>
					</columns>
				</row>

				<spacer size="16"></spacer>

				<div class="grey-text" mc:edit="footer" mc:label="Footer">
					<p class="text-center">*|CURRENT_YEAR|* &copy; <a href="http://www.jeromemerlot.com/" target="_blank">www.jeromemorlot.com</a>. This email was sent to *|EMAIL|*</p>
						<p class="text-center"><a href="*|LIST:DESCRIPTION|*" target="_blank">why did I get this?</a>      <a href="*|UNSUB|*" target="_blank">unsubscribe from this list</a>      <a href="*|UPDATE_PROFILE|*" target="_blank">update subscription preferences</a></p>
						<p class="text-center">Jerome Morlot PA 846 Lincoln Rd, 4th Floor Miami Beach, FL 33139 USA</p>
					</p>
				</div>

			</columns>
		</row>

		<row>
			<columns>

				<spacer size="16"></spacer>

				<span class="text-center">*|REWARDS|*</span>

				<spacer size="32"></spacer>
				
			</columns>
		</row>

	</container>
</wrapper>