<wrapper class="collapse-bottom">
	
	<container class="inverse-bg">

		<row>

			<columns valign="middle" class="navigation" small="12" large="3">
				<div class="inverse-text text-14">
					<p class="text-center">
						<a href="#">Active Listings</a>
					</p>
				</div>
			</columns>

			<columns valign="middle" class="navigation" small="12" large="3">
				<div class="inverse-text text-14">
					<p class="text-center">
						<a href="#">Houses for Sale</a>
					</p>
				</div>
			</columns>

			<columns valign="middle" class="navigation" small="12" large="3">
				<div class="inverse-text text-14">
					<p class="text-center">
						<a href="#">Condos for Sale</a>
					</p>
				</div>
			</columns>

			<columns valign="middle" class="navigation" small="12" large="3">
				<div class="inverse-text text-14">
					<p class="text-center">
						<a href="#">Pre-construction</a>
					</p>
				</div>
			</columns>

		</row>

	</container>

</wrapper>