<wrapper>
	
	<container>

			<row class="collapse">
				<columns small="12">
					<img src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/ee86b5a0-6afa-4d15-b943-5b7e08e8ac3f.jpg" mc:edit="blog-hero-article-image" mc:label="blog-hero-article-image">
				</columns>
			</row>

			<row>
				<columns small="12" mc:edit="blog-hero-article-text" mc:label="blog-hero-article-text">
					<div class="article">
						<h5><strong>STILTSVILLE: A COLORFUL TRIBUTE TO VICE IN MIAMI</strong></h5>

						<p>Ever look out to sea from Bill Baggs State Park and wonder about those colorful houses in the water? They’re known as Stiltsville, a “village” with a rowdy past. This current tourist attraction has a long history of seedy behavior.</p>

						<p><strong>A Big Party on the Water. </strong>Stiltsville’s origin begins with “Crawfish” Eddie Walker, who built the first house in the early 1930’s. Officially he sold his renowned crawfish chowder and fishing bait, but unofficially he also provided beer and gambling. The location was not as random as it appears – gambling became legal a mile away from land.</p>

						<p>Soon he was joined by other seafaring entrepreneurs. Commodore Edwin Turner established the exclusive Quarterdeck Club in 1940, which turned into a gambling club after World War II. Crawfish Eddie’s house was destroyed by a hurricane in 1950 and the Quarterdeck Club never recovered from a fire in 1961.</p>
					</div>
				</columns>
			</row>

			<row>
				<columns class="show-for-large" large="4"></columns>
				<columns small="12" large="4" mc:edit="blog-hero-article-button" mc:label="blog-hero-article-button">
					<spacer size="8"></spacer>
					<button class="expanded radius" href="http://www.jeromemorlot.com/" target="_blank">
						Read more
					</button>
				</columns>
				<columns class="show-for-large" large="4"></columns>
			</row>



	</container>

</wrapper>