<wrapper>
	
	<container class="inverse-bg">

		<row>

			<!-- #1 -->

			<columns small="12" large="4">

				<spacer size="16"></spacer>
				
				<row>
					<columns mc:edit="blog-3-images_1" mc:label="blog-3-images_1">
						<a href="http://www.jeromemorlot.com/" target="_blank"><img src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/ee86b5a0-6afa-4d15-b943-5b7e08e8ac3f.jpg"></a>
					</columns>
				</row>

				<row>
					<columns mc:edit="blog-3-text_1" mc:label="blog-3-text_1">
						
						<div class="inverse-text"><h5><strong>Stiltsville: A Colorful Tribute to Vice in Miami</strong></h5></div>
						<div class="text-14 inverse-text"><p>Ever look out to sea from Bill Baggs State Park and wonder about those colorful houses in the water?</p>

						<button class="secondary small small-expanded radius" href="http://www.jeromemorlot.com/" target="_blank">Read more</button>

					</columns>

				</row>

			</columns>

			<!-- #2 -->

			<columns small="12" large="4">

				<spacer size="16"></spacer>
				
				<row>
					<columns mc:edit="blog-3-images_2" mc:label="blog-3-images_2">
						<a href="http://www.jeromemorlot.com/" target="_blank"><img src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/ee86b5a0-6afa-4d15-b943-5b7e08e8ac3f.jpg"></a>
					</columns>
				</row>

				<row>
					<columns mc:edit="blog-3-text_2" mc:label="blog-3-text_2">
						
						<div class="inverse-text"><h5><strong>Celebrate Spring in Miami</strong></h5></div>
						<div class="text-14 inverse-text"><p>While Miami has beach weather all year long, it’s still a tradition to celebrate the end of winter. Here’s a list of upcom...</p>

						<button class="secondary small small-expanded radius" href="http://www.jeromemorlot.com/" target="_blank">Read more</button>

					</columns>
					
				</row>

			</columns>

			<!-- #3 -->

			<columns small="12" large="4">

				<spacer size="16"></spacer>
				
				<row>
					<columns mc:edit="blog-3-images_3" mc:label="blog-3-images_3">
						<a href="http://www.jeromemorlot.com/" target="_blank"><img src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/ee86b5a0-6afa-4d15-b943-5b7e08e8ac3f.jpg"></a>
					</columns>
				</row>

				<row>
					<columns mc:edit="blog-3-text_3" mc:label="blog-3-text_3">
						
						<div class="inverse-text"><h5><strong>Miami Paving Way for Pedestrians</strong></h5></div>
						<div class="text-14 inverse-text"><p>Most Miamians rely on driving to get them where they need to go. They have little faith in public transportation</p>

						<button class="secondary small small-expanded radius" href="http://www.jeromemorlot.com/" target="_blank">Read more</button>

					</columns>
					
				</row>

			</columns>

		</row>

	</container>

</wrapper>