<wrapper>
	
	<container class="inverse-bg">

		<row>

			<!-- #1 -->

			<columns small="12" large="4">

				<spacer size="16"></spacer>
				
				<row>
					<columns>
						<a href="http://www.jeromemerlot.com/" target="_blank"><img src="{{root}}assets/img/image-placeholder_828x552.jpg"></a>
					</columns>
				</row>

				<row>
					<columns>
						
						<div class="inverse-text"><h5><strong>Stiltsville: A Colorful Tribute to Vice in Miami</strong></h5></div>
						<div class="text-14 inverse-text"><p>Ever look out to sea from Bill Baggs State Park and wonder about those colorful houses in the water?</p>

						<button class="secondary small small-expanded radius" href="http://www.jeromemerlot.com/" target="_blank">Read more</button>

					</columns>

				</row>

			</columns>

			<!-- #2 -->

			<columns small="12" large="4">

				<spacer size="16"></spacer>
				
				<row>
					<columns>
						<a href="http://www.jeromemerlot.com/" target="_blank"><img src="{{root}}assets/img/image-placeholder_828x552.jpg"></a>
					</columns>
				</row>

				<row>
					<columns>
						
						<div class="inverse-text"><h5><strong>Celebrate Spring in Miami</strong></h5></div>
						<div class="text-14 inverse-text"><p>While Miami has beach weather all year long, it’s still a tradition to celebrate the end of winter. Here’s a list of upcom...</p>

						<button class="secondary small small-expanded radius" href="http://www.jeromemerlot.com/" target="_blank">Read more</button>

					</columns>
					
				</row>

			</columns>

			<!-- #3 -->

			<columns small="12" large="4">

				<spacer size="16"></spacer>
				
				<row>
					<columns>
						<a href="http://www.jeromemerlot.com/" target="_blank"><img src="{{root}}assets/img/image-placeholder_828x552.jpg"></a>
					</columns>
				</row>

				<row>
					<columns>
						
						<div class="inverse-text"><h5><strong>Miami Paving Way for Pedestrians</strong></h5></div>
						<div class="text-14 inverse-text"><p>Most Miamians rely on driving to get them where they need to go. They have little faith in public transportation</p>

						<button class="secondary small small-expanded radius" href="http://www.jeromemerlot.com/" target="_blank">Read more</button>

					</columns>
					
				</row>

			</columns>

		</row>

	</container>

</wrapper>