<wrapper>
	
	<container>

	<hr>

		<row>			
			<columns small="12">
				<spacer size="8"></spacer>
				<div><h5><strong>Exclusive listing from Jerome Morlot</strong></h5></div>
			</columns>
		</row>

		<row>

			{{#repeat 3}}
			<!-- #1 -->

			<columns small="12" large="4">
				
				<row>
					<columns>
						<a href="http://www.jeromemerlot.com/" target="_blank"><img src="{{root}}assets/img/image-placeholder_828x552.jpg"></a>
					</columns>
				</row>

				<row>
					<columns small="12">
						
						<div><h5><strong>$5,750,000</strong></h5></div>
						<div class="text-12">
							<p>4,437 sq ft</p>
							<p>4 beds, 4 baths</p>
							<p><strong>Paramount Bay #PH4302</strong></p>
							<p>Edgewater</p>
						</div>

					</columns>
				</row>

				<row>

					<columns small="12">

						<button class="small small-expanded radius" href="http://www.jeromemerlot.com/" target="_blank">Read more</button>

					</columns>

				</row>

			</columns>

			{{/repeat}}


		</row>

	</container>

</wrapper>