<wrapper>
	
	<container class="inverse-bg">

		<row>

			<columns small="12" large="6" mc:edit="bullets-column-1" mc:label=“Bullets-first-column”>
					
				<div class="bullets-text"><p class="bullet">&ensp;&#9656;&ensp;&ensp;Exquisite 2 / 2 condo in art deco style building.</p></div>
				<div class="bullets-text"><p class="bullet">&ensp;&#9656;&ensp;&ensp;The unit is completely renovated (including support beams &amp; impact windows).</p></div>
				<div class="bullets-text"><p class="bullet">&ensp;&#9656;&ensp;&ensp;Wood floor throughout the condo &amp; polished concrete floor in the bathrooms.</p></div>
				<div class="bullets-text"><p class="bullet">&ensp;&#9656;&ensp;&ensp;Large kitchen open to living room with high ceiling and integrated light fixtures.</p></div>


			</columns>

			<columns small="12" large="6" mc:edit="bullets-column-2" mc:label=“Bullets-second-column”>
					
				<div class="bullets-text"><p class="bullet">&ensp;&#9656;&ensp;&ensp;Bright bedrooms fitting king size bed, custom made closets.</p></div>
				<div class="bullets-text"><p class="bullet">&ensp;&#9656;&ensp;&ensp;Bathrooms feature dual sinks, shower, bathtub &amp; dual flush wall hung toilets.</p></div>
				<div class="bullets-text"><p class="bullet">&ensp;&#9656;&ensp;&ensp;Includes common area w/yard &amp; bbq.</p></div>
				<div class="bullets-text"><p class="bullet">&ensp;&#9656;&ensp;&ensp;Located near Flamingo park, few blocks to the ocean.</p></div>

			</columns>

		</row>

	</container>

</wrapper>


