<wrapper>
	
	<container class="inverse-bg">

		<row class="collapse">
			<columns small="12">
				<img src="{{root}}assets/img/A2204925_01.jpg">
			</columns>
		</row>

	</container>

	<container class="inverse-bg">

		<row>
			<columns small="12" large="6">
				<div class="featured-text"><h5><strong>831 10th Street, Miami Beach</strong></h5></div>
				<div class="featured-text"><p>Unit #102</p></div>
				<div class="featured-text"><p>1,080 sqft</p></div>
				<div class="featured-text"><p>2 bed &bull; 2 bath</p></div>
				<div class="featured-text"><p>MLS #A2204925</p></div>
			</columns>
			<columns small="12" large="6">
				
				<row>
					<columns>
						<div class="featured-text"><h5 class="text-center"><strong>Need more information?</strong></h5></div>
					</columns>
				</row>

				<row>
					<columns>
						<button class="secondary expanded radius" href="#">Call me<br>1 (786) 564 77 90</button>
						<p class="text-center"><small><a class="featured-text" href="#">Send to a friend</a> &bull; <a class="featured-text" href="#">Share on Facebook</a></small></p>
					</columns>
				</row>

			</columns>
		</row>

	</container>

</wrapper>