<wrapper>
	
	<container class="inverse-bg">

		<row class="collapse">
			<columns small="12">
				<a href="http://www.jeromemorlot.com/" target="_blank"><img src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/ee86b5a0-6afa-4d15-b943-5b7e08e8ac3f.jpg" mc:edit="hero-img" mc:label=“Featured-hero-image”></a>
			</columns>
		</row>

	</container>

	<container class="inverse-bg">

		<row>
			<columns small="12" large="6" mc:edit="featured-detail" mc:label=“Featured-detail”>
				<div class="featured-text"><h5><strong>831 10th Street, Miami Beach</strong></h5></div>
				<div class="featured-text"><p>Unit #102</p></div>
				<div class="featured-text"><p>1,080 sqft</p></div>
				<div class="featured-text"><p>2 bed &bull; 2 bath</p></div>
				<div class="featured-text"><p>MLS #A2204925</p></div>
			</columns>
			<columns small="12" large="6">
				
				<row>
					<columns>
						<div class="featured-text" mc:edit="more-info-title" mc:label=“Title”><h5 class="text-center"><strong>Need more information?</strong></h5></div>
					</columns>
				</row>

				<row>
					<columns mc:edit="call-me-button" mc:label=“call-me-button”>
						<button class="secondary expanded radius" href="tel:17865647790" target="_blank">Call me<br>1 (786) 564 77 90</button>
						<p class="text-center"><small><a class="featured-text" href="*|FORWARD|*" target="_blank">Send to a friend</a> &bull; <a class="featured-text" href="https://www.facebook.com/sharer/sharer.php?u=*|ARCHIVE|*&display=popup" target="_blank">Share on Facebook</a></small></p>
					</columns>
				</row>

			</columns>
		</row>

	</container>

</wrapper>