<wrapper class="collapse-bottom">
	
	<container class="inverse-bg-darker">

		<row class="collapse">

			<columns small="12" large="4">

				<spacer size="16"></spacer>

				<img src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/1ab2fb16-4f83-4a9d-931f-87bb074dcc35.png">

			</columns>

			<columns small="12" large="4" valign="top">

				<spacer size="16"></spacer>

				<div class="footer-text">
					<p><img class="float-center" src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/1f115780-9ab6-4bf5-8bf3-1be26093467f.png"></p>
					<spacer size="8"></spacer>
					<p class="small-text-center"><a href="tel:17865647790" target="_blank">+1 786.564.7790</a></p>
					<p class="small-text-center"><a href="mailto:jm@jeromemorlot.com" target="_blank">jm@jeromemorlot.com</a></p>
					<p class="small-text-center"><a href="http://www.jeromemorlot.com/" target="_blank">www.jeromemorlot.com</a></p>
				</div>

				<spacer size="8"></spacer>

			</columns>

			<columns small="12" large="4" valign="middle">

				<img src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/c5f4a5bb-2bcd-493c-bd49-78ce20e235a9.png">

			</columns>

		</row>

	</container>

</wrapper>