<wrapper>
	<container class="postfooter">
		<row>
			<columns>

				<div class="grey-text" mc:edit="footer" mc:label="Footer">
					<p class="text-center">*|CURRENT_YEAR|* &copy; <a href="http://www.jeromemerlot.com/" target="_blank">www.jeromemorlot.com</a>. This email was sent to *|EMAIL|*</p>
						<p class="text-center"><a href="*|LIST:DESCRIPTION|*" target="_blank">why did I get this?</a>      <a href="*|UNSUB|*" target="_blank">unsubscribe from this list</a>      <a href="*|UPDATE_PROFILE|*" target="_blank">update subscription preferences</a></p>
						<p class="text-center">Jerome Morlot PA 846 Lincoln Rd 4th floor Miami Beach, Fl 33139</p>
					</p>
				</div>

			</columns>
		</row>

		<row>
			<columns>

				<spacer size="16"></spacer>

				<span class="text-center">*|REWARDS|*</span>

				<spacer size="32"></spacer>
				
			</columns>
		</row>

	</container>
</wrapper>