<!-- footer-social 

<spacer size="24"></spacer>
<wrapper>
	<container class="postfooter">
		<row>
			<columns small="12">
				<div class="text-12"><p class="text-center small-text-center">Follow me on: <a class="facebook" href="#">facebook</a> <a class="instagram" href="#">instagram</a></p></div>
			</columns>
		</row>
	</container>
</wrapper>

<!-- /footer-social -->

<spacer size="16"></spacer>

<wrapper>
	<container class="postfooter">
		<row>
			<columns valign="middle" small="8" large="10">
				<p class="text-12 social text-right">follow me on:
			</columns>
			<columns small="2" large="1">
				<a href="https://www.facebook.com/jeromemorlotrealtor/">
					<img src="{{root}}assets/img/facebook.png" width="32" height="32">
				</a>
			</columns>
			<columns small="2" large="1">
				<a href="https://www.instagram.com/jeromemorlot/">
					<img src="{{root}}assets/img/instagram.png" width="32" height="32"></p>
				</a>
			</columns>
		</row>
	</container>
</wrapper>

