<wrapper class="collapse-bottom">
	
	<container class="grey-bg">

		<row>

			<columns valign="middle" class="navigation" small="12" large="3" mc:edit="footer-nav-active-listing" mc:label="footer-nav-active-listing">
				<div class="inverse-text text-12">
					<p class="text-center">
						<a href="http://www.jeromemorlot.com/featured-listings" target="_blank">ACTIVE LISTINGS</a>
					</p>
				</div>
			</columns>

			<columns valign="middle" class="navigation" small="12" large="3" mc:edit="footer-nav-houses-for-sale" mc:label="footer-nav-houses-for-sale">
				<div class="inverse-text text-12">
					<p class="text-center">
						<a href="http://www.jeromemorlot.com/houses-for-sales" target="_blank">HOUSES FOR SALE</a>
					</p>
				</div>
			</columns>

			<columns valign="middle" class="navigation" small="12" large="3" mc:edit="footer-nav-condos-for-sale" mc:label="footer-nav-condos-for-sale">
				<div class="inverse-text text-12">
					<p class="text-center">
						<a href="http://www.jeromemorlot.com/condos-for-sale" target="_blank">CONDOS FOR SALE</a>
					</p>
				</div>
			</columns>

			<columns valign="middle" class="navigation" small="12" large="3" mc:edit="footer-nav-preconstruction" mc:label="footer-nav-preconstruction">
				<div class="inverse-text text-12">
					<p class="text-center">
						<a href="http://www.jeromemorlot.com/pre-construction" target="_blank">PRE-CONSTRUCTION</a>
					</p>
				</div>
			</columns>

		</row>

	</container>

</wrapper>