<wrapper>
	
	<container>

		<row>
			<columns small="12" large="4" class="show-for-large">
				<img src="{{root}}assets/img/image-placeholder_552x552.jpg">
			</columns>
			<columns small="12" large="4">
				<div class="footer-text">
					<p><img src="{{root}}assets/img/image-placeholder_276x138.jpg"></p>
					<spacer size="8"></spacer>
					<p>1 786 564 77 90</p>
					<p>jm@jeromemerlot.com</p>
					<p>www.jeromemerlot.com</p>
				</div>
			</columns>
			<columns small="12" large="4">
				<img src="{{root}}assets/img/image-placeholder_552x552.jpg">
			</columns>
		</row>

	</container>

</wrapper>

<wrapper>
	<container class="postfooter">

		<row>
			<columns>

				<spacer size="32"></spacer>

				<div class="grey-text"><p class="text-center">$YEAR © footer info</p></div>

			</columns>
		</row>

		<row>
			<columns>

				<img class="float-center" src="{{root}}assets/img/MC_MonkeyReward_26.png">

				<spacer size="32"></spacer>
				
			</columns>
		</row>

	</container>
</wrapper>