<wrapper class="collapse-bottom">
	
	<container class="inverse-bg-darker">

		<row class="collapse">

			<columns small="12" large="4">

				<spacer size="16"></spacer>

				<img src="{{root}}assets/img/JM.png">

			</columns>

			<columns small="12" large="4" valign="top">

				<spacer size="16"></spacer>

				<div class="footer-text">
					<p><img class="float-center" src="{{root}}assets/img/JM_logo_w.png"></p>
					<spacer size="8"></spacer>
					<p class="small-text-center"><a href="tel:17865647790">1 786 564 77 90</a></p>
					<p class="small-text-center"><a href="#">jm@jeromemerlot.com</a></p>
					<p class="small-text-center"><a href="#">www.jeromemerlot.com</a></p>
				</div>

				<spacer size="8"></spacer>

			</columns>

			<columns small="12" large="4" valign="middle">

				<img src="{{root}}assets/img/Sotheby-s_logo.png">

			</columns>

		</row>

	</container>

</wrapper>

<wrapper>
	<container class="postfooter">

		<row>
			<columns>

				<spacer size="32"></spacer>

				<div class="grey-text">
					<p class="text-center">2016 © <a href="#">www.jeromemorlot.com</a>. This email was sent to *|EMAIL|*</p>
						<p class="text-center"><a href="#">why did I get this?</a>      <a href="*|UNSUB|*">unsubscribe from this list</a>      <a href="*|UPDATE|*">update subscription preferences</a></p>
						<p class="text-center">Jerome Morlot PA 846 Lincoln Rd, 4th Floor Miami Beach, FL 33139 USA</p>
					</p>
				</div>

			</columns>
		</row>

		<row>
			<columns>

				<img class="float-center" src="{{root}}assets/img/MC_MonkeyReward_26.png">

				<spacer size="32"></spacer>
				
			</columns>
		</row>

	</container>
</wrapper>