<!-- preheader -->

<spacer size="32"></spacer>
<wrapper>
	<container class="preheader">
		<row>
			<columns small="0" large="8" class="show-for-large">
				<div class="grey-text"><p class="text-left">invisible-subject-line</p></div>
			</columns>
			<columns small="12" large="4">
				<div class="grey-text"><p class="text-right small-text-center"><a href="#">Web version</a> ›</p></div>
			</columns>
		</row>
	</container>
</wrapper>

<!-- header -->

<wrapper>	
	<container>

		<spacer class="hide-for-large" size="16"></spacer>

		<spacer size="16"></spacer>

		<row>

			<columns small="12" large="3">

				<row class="collapse">

					<columns small="4" large="0" class="show-for-small"></columns>

					<columns small="4" large="12">

						<img src="{{root}}assets/img/JM_logo_b.png">

					</columns>

					<columns small="4" large="0" class="show-for-small"></columns>

				</row>

			</columns>

			<columns small="12" large="9">

				<h1 class="title small-text-center"><strong>ACTIVE LISTING</strong></h1>

				<h5 class="small-text-center"><strong>831 10th Street, Miami Beach, FL 33139</strong></h5>

				<h6 class="highlight small-text-center">Now offered @ $449,000</h6>

			</columns>

		</row>

	</container>
</wrapper>