<!-- preheader -->

<spacer size="32"></spacer>
<wrapper>
	<container class="preheader">
		<row>
			<columns small="12">
				<div class="grey-text"><p class="text-center"><a href="*|ARCHIVE|*" target="_blank">Web version</a> ›</p></div>
			</columns>
		</row>
	</container>
</wrapper>

<!-- header -->

<wrapper>	
	<container>

		<spacer class="hide-for-large" size="16"></spacer>

		<spacer size="16"></spacer>

		<row>

			<columns small="12" large="3">

				<row class="collapse">

					<columns small="3" large="0" class="show-for-small"></columns>

					<columns small="6" large="12">

						<a href="http://www.jeromemorlot.com" target="_blank"><img src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/fa1dd0b9-eb87-4ab3-9407-8506a674713d.png"></a>

					</columns>

					<columns small="3" large="0" class="show-for-small"></columns>

				</row>

			</columns>

			<columns small="12" large="9">

				<h1 class="title small-text-center" mc:edit="feature-heading" mc:label=“Heading”><strong>ACTIVE LISTING</strong></h1>

				<h5 class="small-text-center" mc:edit="feature-address" mc:label=“Address”><strong>831 10th Street, Miami Beach, FL 33139</strong></h5>

				<h6 class="highlight small-text-center" mc:edit="feature-price" mc:label=“Offer”>Now offered @ $449,000</h6>

			</columns>

		</row>

	</container>
</wrapper>