<!-- preheader -->

<spacer size="32"></spacer>
<wrapper>
	<container class="preheader">
		<row>
			<columns small="8">
				<div class="grey-text"><p class="text-left">invisible-subject-line</p></div>
			</columns>
			<columns small="4">
				<div class="grey-text"><p class="text-right"><a href="#">archive-link</a> ›</p></div>
			</columns>
		</row>
	</container>
</wrapper>

<!-- header -->

<wrapper>	
	<container>
		<spacer size="16"></spacer>
		<row>
			<columns>
				header
			</columns>
		</row>
	</container>
</wrapper>