<wrapper>
	
	<container class="inverse-bg">

		<row mc:hideable>
			<columns small="12">
				<img src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/07791232-ff0f-420e-ace3-240be947e198.jpg" mc:edit="last-image" mc:label=“Big-image”>
			</columns>
		</row>	

		<row>
			<columns small="12" mc:edit="featured-button" mc:label=“Featured-button”>
				<spacer size="8"></spacer>
				<button class="secondary expanded radius" href="http://www.jeromemerlot.com/" target="_blank">
					I'm interested and I want more info on this property
				</button>
			</columns>
		</row>

	</container>

</wrapper>