
	
	<container>

		<row>
			<columns mc:edit="listings-heading" mc:label="listing-heading">
				<spacer size="24"></spacer>
				<h4 class="text-center"><strong>Jerome exclusive listing</strong></h4>
			</columns>
		</row>

	</container>

	<wrapper class="collapse-bottom">

	<container class="inverse-bg" mc:repeatable>

		<row>

			<!-- #1 -->

				<columns small="12" large="6">

					<spacer size="16"></spacer>
					
					<row>
						<columns>
							<img src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/ee86b5a0-6afa-4d15-b943-5b7e08e8ac3f.jpg" mc:edit="listing-1-image" mc:label="listing-1-image">
						</columns>
					</row>

					<row>
						<columns mc:edit="listing-1-detail" mc:label="listing-1-detail">

							<spacer size="16"></spacer>
							
							<div class="featured-text"><h5><strong>831 10th Street, Miami Beach</strong></h5></div>
							<div class="featured-text"><p>Unit #102</p></div>
							<div class="featured-text"><p>1,080 sqft</p></div>
							<div class="featured-text"><p>2 bed &bull; 2 bath</p></div>
							<div class="featured-text"><p>MLS #A2204925</p></div>

							<spacer size="8"></spacer>

						</columns>
					</row>

					<row>
						<columns mc:edit="listing-1-button" mc:label="listing-1-button">

							<button class="secondary expanded radius" href="mailto:jm@jeromemorlot.com?subject=More information about the property" target="_blank">More info</button>

							<spacer size="8"></spacer>

						</columns>

					</row>

				</columns>

				<!-- / #1 -->

				<!-- #2 -->

				<columns small="12" large="6">

					<spacer size="16"></spacer>
					
					<row>
						<columns>
							<img src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/ee86b5a0-6afa-4d15-b943-5b7e08e8ac3f.jpg" mc:edit="listing-2-image" mc:label="listing-2-image">
						</columns>
					</row>

					<row>
						<columns mc:edit="listing-2-detail" mc:label="listing-2-detail">

							<spacer size="16"></spacer>
							
							<div class="featured-text"><h5><strong>831 10th Street, Miami Beach</strong></h5></div>
							<div class="featured-text"><p>Unit #102</p></div>
							<div class="featured-text"><p>1,080 sqft</p></div>
							<div class="featured-text"><p>2 bed &bull; 2 bath</p></div>
							<div class="featured-text"><p>MLS #A2204925</p></div>

							<spacer size="8"></spacer>

						</columns>
					</row>

					<row>
						<columns mc:edit="listing-2-button" mc:label="listing-2-button">

							<button class="secondary expanded radius" href="mailto:jm@jeromemorlot.com?subject=More information about the property" target="_blank">More info</button>

							<spacer size="8"></spacer>

						</columns>

					</row>

				</columns>

				<!-- / #2 -->

		</row>

		<row mc:hideable>

			<!-- #3 -->

				<columns small="12" large="6">
					
					<row>
						<columns>
							<img src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/ee86b5a0-6afa-4d15-b943-5b7e08e8ac3f.jpg" mc:edit="listing-3-image" mc:label="listing-3-image">
						</columns>
					</row>

					<row>
						<columns mc:edit="listing-3-detail" mc:label="listing-3-detail">

							<spacer size="16"></spacer>
							
							<div class="featured-text"><h5><strong>831 10th Street, Miami Beach</strong></h5></div>
							<div class="featured-text"><p>Unit #102</p></div>
							<div class="featured-text"><p>1,080 sqft</p></div>
							<div class="featured-text"><p>2 bed &bull; 2 bath</p></div>
							<div class="featured-text"><p>MLS #A2204925</p></div>

							<spacer size="8"></spacer>

						</columns>
					</row>

					<row>
						<columns mc:edit="listing-3-button" mc:label="listing-3-button">

							<button class="secondary expanded radius" href="mailto:jm@jeromemorlot.com?subject=More information about the property" target="_blank">More info</button>

							<spacer size="8"></spacer>

						</columns>

					</row>

				</columns>

				<!-- / #3 -->

				<!-- #4 -->

				<columns small="12" large="6">
					
					<row>
						<columns>
							<img src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/ee86b5a0-6afa-4d15-b943-5b7e08e8ac3f.jpg" mc:edit="listing-4-image" mc:label="listing-4-image">
						</columns>
					</row>

					<row>
						<columns mc:edit="listing-4-detail" mc:label="listing-4-detail">

							<spacer size="16"></spacer>
							
							<div class="featured-text"><h5><strong>831 10th Street, Miami Beach</strong></h5></div>
							<div class="featured-text"><p>Unit #102</p></div>
							<div class="featured-text"><p>1,080 sqft</p></div>
							<div class="featured-text"><p>2 bed &bull; 2 bath</p></div>
							<div class="featured-text"><p>MLS #A2204925</p></div>

							<spacer size="8"></spacer>

						</columns>
					</row>

					<row>
						<columns mc:edit="listing-4-button" mc:label="listing-4-button">

							<button class="secondary expanded radius" href="mailto:jm@jeromemorlot.com?subject=More information about the property" target="_blank">More info</button>

							<spacer size="8"></spacer>

						</columns>

					</row>

				</columns>

				<!-- / #4 -->

		</row>

	</container>

</wrapper>