<!-- preheader -->

<spacer size="32"></spacer>
<!-- <wrapper>
	<container class="preheader">
		<row>
			<columns small="12">
				<div class="grey-text"><p class="text-center"><a href="*|ARCHIVE|*" target="_blank">Web version</a> ›</p></div>
			</columns>
		</row>
	</container>
</wrapper> -->

<!-- header -->

<wrapper>	
	<container>

		<spacer class="hide-for-large" size="16"></spacer>

		<spacer size="16"></spacer>

		<row>

			<columns small="12" large="3">

				<row class="collapse">

					<columns small="3" large="0" class="show-for-small"></columns>

					<columns small="6" large="12">

						<a href="http://www.jeromemorlot.com" target="_blank"><img src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/fa1dd0b9-eb87-4ab3-9407-8506a674713d.png"></a>

					</columns>

					<columns small="3" large="0" class="show-for-small"></columns>

				</row>

			</columns>

			<columns small="12" large="9" mc:edit="blog-title" mc:label="blog-title">

				<h1 class="light title small-text-center">NEWSLETTER</h1>

				<h4 class="small-text-center"><strong>MONTH YEAR</strong></h4>

				<spacer size=""></spacer>

				<!-- <div class="text-12"><p class="text-right small-text-center">Follow me on: <a class="facebook" href="https://www.facebook.com/jeromemorlotrealtor/">facebook</a> <a class="instagram" href="https://www.instagram.com/jeromemorlot/">instagram</a></p></div> -->

				<row>

					<columns small="8" large="10"></columns>

					<columns small="2" large="1" mc:edit="blog-facebook-url" mc:label="blog-facebook-url">
						<a href="https://www.facebook.com/jeromemorlotrealtor/"><img src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/9c97244b-2976-4f21-9f57-7d10b694eb16.png" height="24" width="24"></a>
					</columns>

					<columns small="2" large="1" mc:edit="blog-instagram-url" mc:label="blog-instagram-url">
						<a href="https://www.instagram.com/jeromemorlot/"><img src="https://gallery.mailchimp.com/dbbf8923192d53ee381cf24b1/images/a79978f7-2970-4075-9cd5-c168ef0d4918.png" height="24" width="24"></a></p>
					</columns>

					
				</row>

			</columns>

		</row>

	</container>
</wrapper>