<wrapper>
	
	<container>

		<row>


			<!-- # home value -->

			<columns small="12" large="4">
				
				<row>
					<columns>
						<img class="float-center" src="{{root}}assets/img/icons-home-value.png">
					</columns>
				</row>

				<row>
					<columns>
						
						<div class="text-14"><p class="text-center"><strong>HOME VALUE</strong></p></div>
						<div class="text-12"><p class="text-center">Find out how much your property is worth with Jerome Morlot free property valuation service.</p><p class="text-center">Get an instant estimate</p>

					</columns>

				</row>

			</columns>

			<!-- / home value -->

			<columns class="divider-v show-for-large"></columns>

			<!-- # home value -->

			<columns small="12" large="4">
				
				<row>
					<columns>
						<img class="float-center" src="{{root}}assets/img/icons-market-snapshot.png">
					</columns>
				</row>

				<row>
					<columns>
						
						<div class="text-14"><p class="text-center"><strong>MARKET SNAPSHOT</strong></p></div>
						<div class="text-12"><p class="text-center">Get update and trend analysis overview of Miami's real estate market

					</columns>

				</row>

			</columns>

			<!-- / home value -->

			<columns class="divider-v show-for-large" small="0" large="0"></columns>

			<!-- # home value -->

			<columns small="12" large="4">
				
				<row>
					<columns>
						<img class="float-center" src="{{root}}assets/img/image-placeholder_828x552.jpg">
					</columns>
				</row>

				<row>
					<columns>
						
						<div class="text-14"><p class="text-center"><strong>STRATEGY</strong></p></div>
						<div class="text-12"><p class="text-center">Find out how much your property is worth with Jerome Morlot free property valuation service.</p>

					</columns>

				</row>

			</columns>

			<!-- / home value -->


		</row>

		<spacer size="16"></spacer>

	</container>

</wrapper>